# macOS related
.DS_Store
.AppleDouble
.LSOverride

# Python related
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec
.idea/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/
.cache/
*.cover
*.py,cover
*.mo
*.pot
*.log
*.sqlite3
db.sqlite3
*.ipynb_checkpoints

uploads/*
.DS_Store
